.optionContainer {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--clr-navy);
  border-radius: 0.75rem;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-items: center;
  padding: 0.5rem;
  outline: none; /* Remove default outline */
  transition: outline 0.2s;
}
.letterBackground {
  width: 40px;
  height: 40px;
  background-color: var(--clr-light-grey);
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.letter {
  color: var(--clr-grey-navy);
  font-weight: 500;
  font-size: 1.125rem;
}
.optionText {
  color: white;
  font-size: 1.125rem;
  margin-left: 1rem;
  text-align: left;
}
.optionContainer.selectedBorder {
  border-color: var(--clr-purple);
  border-style: solid;
  border-width: 2px;
  outline-offset: 2px;
}

.letterBackground.selectedBackground {
  background-color: var(--clr-purple);
}
.letter.selectedLetter {
  color: var(--clr-pure-white);
}
.questionIcons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
