.container {
    width: 100%;
    border-radius: 0.75rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topic {
    display: flex;
    align-items: center;   
}

.title {
    color: var(--clr-pure-white);
    margin-left: 1rem;
    font-size: 1.125rem;
}

.image__container{
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: #FFF1E9;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}